
caption{
    border: 4px solid rgb(197, 191, 191);
    background-color: rgb(94, 93, 93);
    color: rgb(197, 191, 191);
    font-weight: bold;
    
}

.body{
    background-color: rgb(241, 237, 237);
    text-align: center;
}
td{
    width: 200px;
}

.textFoot{
    background-color: cadetblue;
}